service cloud.firestore {
  match /databases/{database}/documents {
    match /employees/{emplyee} {

      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
