body {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

input {
  width: 20rem;
  height: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius:5px;
}
label {
  margin-top: 1rem;
  margin-left: 1rem;
}
#upload {
  width: 1rem;
  height: 1rem;
}
.data {
  display: flex;
  flex-direction: row;
}
.form-example {
  display: grid;
  grid-template-columns: 0.4fr 2fr;
}
#add {
  position: relative;
  top: 10%;
  left: 28%;
  height: 40px;
  width: 200px;
  background-color: green;
  color: white;
}
