.picture {
  align-self: center;
}
.pic-upload {
  text-align: center;
}
.pic-options {
  text-align: center;
}

.input-modal {
  width: 80%;
  height: 2rem;
  margin-top: 0.8rem;
}
#gender,
#birthDate {
  margin-top: 0.8rem;
  height: 2rem;
  width: 80%;
}

label {
  margin-top: 1rem;
  margin-left: 1rem;
}

#imagePlaceholder {
  width: 10rem;
  height: 10rem;
}
.data {
  display: flex;
  flex-direction: row;
}
.form-example {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.save {
  position: relative;
  width: 149.65px;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
