body {
  top: 20rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.picture {
  align-self: center;
}
.pic-upload {
  text-align: center;
}
.pic-options {
  text-align: center;
}
#form {
  margin-top: 5rem;
}
input {
  width: 20rem;
  height: 2rem;
  margin-top: 0.8rem;
  /* margin-top: 1rem;
  margin-left: 1rem; */
  /* border-radius: 2px; */
}
#sex {
  margin-top: 0.8rem;
  height: 2rem;
  width: 20rem;
}
label {
  margin-top: 1rem;
  margin-left: 1rem;
}

#imagePlaceholder {
  width: 10rem;
  height: 10rem;
}
.data {
  display: flex;
  flex-direction: row;
}
.form-example {
  display: grid;
  grid-template-columns: 0.4fr 2fr;
}
/* #add {
  position: relative;
  top: 10%;
  left: 28%;
  height: 40px;
  width: 200px;
  background-color: green;
  color: white;
} */

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
/* @media only screen and (max-width: 500px) {
  input{
  width: 10rem;
 
} */
